#main-header{
    height: 60px;
    width: 100%;
    background: orange;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}